<%= form_with(model: project) do |f| %>
  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= f.label :name, { class: "form-label"} %>
        <%= f.text_field :name, { class: "form-control", placeholder: "Project Name" } %>
      </div>

      <div class="mb-3">
        <%= f.label :status, { class: "form-label"} %>
        <%= f.select :status, options_for_select(Project::STATUSES), {}, { class: "form-select" } %>
      </div>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    </div>
  </div>
<% end %>