<div class="jumbotron">
    <div class="container">
        <h1>Project Manager Dashboard</h1>
        <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title"><%= pluralize(@projects.count, 'project') %></h1>

                  <div class="card-body">
                    <%= link_to 'Add new project', new_project_path, class: 'btn btn-primary' %>
                    <table class="table table-striped">
                      <thead>
                      <tr>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Last updated</th>
                        <th>Comment count</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @projects.each do |project| %>
                        <tr>
                          <td><%= project.name %></td>
                          <td><%= project.status %></td>
                          <td><%= project.updated_at %></td>
                          <td><%= project.comments.count %></td>
                          <td><%= link_to 'Edit', edit_project_path(project) %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>