<p style="color: green"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h1 class="card-title"><%= @project.name %></h1>

    <div class="card-body">
      <p>
        Status: <%= @project.status %>
      </p>

        <%= link_to "Add comment", new_comment_path(project: @project) %> |
        <%= link_to "Edit this project", edit_project_path(@project) %> |
        <%= link_to "Back to projects", projects_path %>

        <%= button_to "Destroy this project", @project, method: :delete, class: 'btn btn-secondary' %>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h5>Comment History</h5>
    <% @project.comments.each do |comment| %>
      <div class="card">
        <div class="card-body">
          <p>
            <%= comment.user.email %> commented at <%= comment.created_at %>
            <%= comment.message %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h5>Status Update History</h5>
    <% @project.project_status_histories.each do |status_history| %>
      <div class="card">
        <div class="card-body">
          <p>
            <%= status_history.user.email %> updated status to <%= status_history.status %> at <%= status_history.created_at %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
