<div class="container">
  <center><h2>Please sign in</h2></center>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.label :email, "Email Address" %><br />
          <%= f.email_field :email, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.label :password, "Password" %><br />
          <%= f.password_field :password %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.submit "Log in", :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>